<h1>Merge Requests</h1>

<div *ngFor="let mergeRequest of mergeRequests">
    <div><a href="{{mergeRequest.web_url}}">#{{mergeRequest.id}}</a></div>
    <div>{{mergeRequest.source_branch}}</div>
    <div>{{mergeRequest.target_branch}}</div>
    <div>{{mergeRequest.project_id}}</div>
    <div>{{mergeRequest.title}}</div>
    <div>{{mergeRequest.state}}</div>
    <div>{{mergeRequest.create_at}}</div>
    <div>{{mergeRequest.updated_at}}</div>
    <div>{{mergeRequest.upvotes}}</div>
    <div>{{mergeRequest.downvotes}}</div>
    <div>{{mergeRequest.author.username}} &lt;{{mergeRequest.author.email}}&gt;</div>
    <div>{{mergeRequest.assignee.username}} &lt;{{mergeRequest.assignee.email}}&gt;</div>
    <p></p>
</div>